<footer>
<p>
  beep boop page, generated on {{ site.buildTime | dateDisplay('LLL d, yyyy - HH:mm') }}
</p> 
<p>
    Thank you <a href="https://www.11ty.io/"> eleventy </a> and <a href="https://github.com/philhawksworth/eleventyone">eleventyone.</a>
</p>
</footer>
