<header class="normal-header">
    <div>
        <h2>beep boop site</h2>
    </div>
    <div>
        <nav>
            <a href="/">home</a>
            <a href="/about">about</a>
            <a href="/posts">posts</a>
            <a href="/projects">projects</a>
            <a href="/gallery">gallery</a>
            <a href="/gallery">patchloop</a>
        </nav>
    </div>
</header>
