<header class="header">
    <div class="mesh-container">
        <div class="mesh-void">
            <div id="headerTitle" class="mesh-column-md-5  mesh-column-sm-12">
                <h1>beep boop site</h1>
            </div>
                <div class="header-nav mesh-column-md-6 mesh-column-sm-12">
                    <div class="mesh-void">
                        <a class="mesh-column-3" href="/">home</a>
                        <a class="mesh-column-3" href="/about">about</a>
                        <a class="mesh-column-3" href="/posts">posts</a>
                        <a class="mesh-column-3" href="/projects">projects</a>
                        <a class="mesh-column-3" href="/gallery">gallery</a>
                        <a class="mesh-column-3" href="/gallery">patchloop</a>
                    </div>
                </div>
        </div>
    </div>
</header>
