<header class="home-header">
    <div class="header-title">
        <h1>{{ title }}</h1>
    </div>
    <nav class="home-nav">
        <div>
            <a href="/about">about<small>all about this</small></a>
        </div>
        <div>
            <a href="/posts">posts<small>the posts</small></a>
        </div>
        <div>
            <a href="/projects">projects<small>things I am working on</small></a>
        </div>
        <div>
            <a href="/gallery">gallery<small>vids to see</small></a>
        </div>
        <div>
            <a href="/gallery">shop<small>...and patchloop studies</small></a>
        </div>
        <div>
            <image src="/images/chipmunk.png" alt="squirrel emoji" />
        </div>
    </nav>
</header>
