---
layout: layouts/base
---

<div class="mesh-container">
    <div class="mesh-void">
        <div class="mesh-column-md-6 mesh-push-md-1 mesh-column-sm-12" id="homeText">
            {{ content | safe }}
        </div>
        <div class="mesh-column-md-5 mesh-column-sm-12 mesh-push-md-1 ">
            {% include "home_viz.njk" %}
        </div>
    </div>
</div>



