---
layout: layouts/base.njk
pagination:
   data: projects
   size: 1
   alias: project
   addAllPagesToCollections: true
permalink: "projects/{{ project.title | slug }}/"
tags: projects
---
<h2>{{project.title}}</h2>

{{project.html | safe }}
