---
layout: layouts/base.njk
---

<ul class="listing">
    {% for project in projects %}
        <li>
            <a href="{{ project.title | slug }}">{{ project.title }}</a> 
        </li>
    {% endfor %}
</ul>
