/* breakpoints for media queries */
$narrow: 400px;
$mid: 740px;
$wide: 1200px;

/* colours */
$page-color:#f5f7fa;
$page-color2:#c3cfe2;
$text-color:#000000;
$accent-color:#696969;
$dark-color: #000;

